$(document).ready(function() {
	$('.remove-row').remove();
	var neoRow;
	<% @remplacements.each do |replacement| %>
		//neoRow = $('tr').html('<%= "<td>#{replacement.name}</td><td>#{replacement.sale_price}</td><td>#{replacement.units_in_stock}</td>" %>');
		//console.log(neoRow);
		//$('tbody').append(neoRow);
	<% end %>
});