<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<h1>Agregar un auto</h1>

		<%= render 'form' %>
		<br>
		<%= link_to 'Atrás', cars_path, class: "btn btn-sm btn-default" %>
	</div>
</div>
